{% extends 'main/base.html' %}
{% block title %}
{% load static %}
Home
{% endblock %}


{% block content %}
<div style="display: flex;">
    <div style="flex: 1;">
        <h3>Upload an audio file of you speaking below. This audio file will first be transcribed to text and the text will then be used to generate an AI version of your audio!</h3>
        <form id="upload-form" action="/upload/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="audio_file">
            <input type="submit" value="Upload">
        </form>
        <div id="upload-status"></div>
    </div>
    <div style="flex: 1; padding-left: 20px">
        <img src="https://th.bing.com/th/id/OIG1.xKpWERrcthUQ6N8iqNFx?pid=ImgGn" alt="Home Image" style="width: 100%;">
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $('#upload-form').on('submit', function(e) {
        e.preventDefault();
        var formData = new FormData(this);
        $.ajax({
            url: '/upload/',
            type: 'POST',
            data: formData,
            success: function(response) {
                $('#upload-status').html('File uploaded successfully');
                // Add code here to update the page based on the response from the server
            },
            error: function(response) {
                $('#upload-status').html('File upload failed');
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
});
</script>
{% endblock %}

